html {
    font-size: 18px;
    cursor: default;
}
a {
    text-decoration: none;
    color: #EBB217;
}
/* index -----------------------------------------------------------------------*/
#home-body {
    display: flexbox;
    margin: auto;
    border-bottom: #0a0a0a solid 5px;
    background-color: #0a0a0a;
}
/* make bio offset left || right -> onClick = transition-slide down next to dagger */
.hd {
    height: 4rem;
    width: 100%;
    background-color:#0a0a0a;
    margin-top: 0%;
    align-content: center;
    text-align: center;
    margin-bottom: 1%;
}
.hNav {
    font-size: 2rem;
    font-family: "Shadows Into Light";
    word-spacing: 30px;
}
#MyroNav {
    font-size: 3rem;
}
#one {
    font-family:Arial, Helvetica, sans-serif
}
#containerH {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 700px;
    margin: 0 0;
    z-index: 0;
    position: relative;
    overflow: hidden;
}
#gify {
    background-image: url(IMG_7636.JPG) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#dagger {
    background-image: url(🗡.png);
    background-position: center;
    z-index: 1;
}
#abt {
    color: #EBB217;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: #0a0a0a;
    position: absolute;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
#discMore {
    font-family: 'Shadows into Light';
}
#x {
    font-size: 40px;
    float: right;
}
footer {
    height: auto;
    border: #0a0a0a solid;
    margin: auto;
    background-color: #0a0a0a;
    text-align: center;
    border-top: #9808e0 solid;
}
.socials {
    color: #EBB217;
    font-size: 2rem;
    margin-top: 10px;
}
#newsong {
    width: 50%;
    height: 5rem;
    border-radius:12px
}
#inq {
    color: #EBB217;
    margin-top: 0;
    margin-bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.hNav:hover {
    text-transform: uppercase;
    font-size: 2rem;
    color: #09bdae;
}
#MyroNav:hover {
    color: #EBB217;
    font-size: 3rem;

}
/* index END -------------------------------------------------------------------*/
/* music.html ------------------------------------------------------------------*/
.container-music {
    color: #EBB217;
    font-family: "Shadows Into Light";
    display: flexbox;
    background-image: url(IMG_7046.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: left center;
    background-position-y: top;
    text-shadow: black 2px 5px, #EBB217 2px 5px 5px;
}

#homeNav-D, #showtimeNav-D{
    font-size: 2.5rem;
    text-shadow: black 2px 3px, #EBB217 2px 5px 5px;
}
#homeNav-D:hover, #showtimeNav-D:hover {
    font-size: 2.5rem;
    text-transform: uppercase;
}
 #discHd {
    font-size: 5rem;
    z-index: 2;
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0;
}
.music {
    margin-left: 8%;
    margin-right: 25%;
    z-index: 1;
}
.music h2 {
    font-size: 3.75rem;
    text-decoration: underline;
}
.music h3 {
    font-size: 2rem;
}
.music iframe {
    width: 50%;
    height: 152px;
   
}
#uparrow {
    font-size: 3.5rem;
    float: right;
    position: sticky;
    top: 5px;
    color: #EBB217;
    text-shadow: black 2px 5px, #EBB217 2px 5px 5px;
}
#uparrow:hover {
    font-size: 4rem;
}
#uparrow:active {
    font-size: 3.25rem;
}
/* music.html END --------------------------------------------------------------*/
/* showtimes -------------------------------------------------------------------*/
#stBody {
    background-image: url(retro-world-theatre-day-scenes-with-curtains-stage.jpg);
    background-position: center;
    color: #EBB217;
    font-family: "Shadows Into Light";
    font-size: 4rem;
    text-align: center;
    text-shadow: black 2px 5px,  2px 5px 20px;
    /*text-decoration: underline;*/
}
#return-st {
    float: left;
    text-shadow: black 2px 5px, #EBB217 2px 5px 5px;;
}
#return-st:hover {
    font-size: 3.5rem;

}
#return-st:active {

}
/* shotimes END ----------------------------------------------------------------*/