html {
    font-size: 18px;
    cursor: default;
}
a {
    text-decoration: none;
    color: #EBB217;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    html { 
        font-size: 12px;
        
    }
    #tdp {
        width:auto;
    }
    #bio {
        font-size: 12px;
        padding-left: 5px;
        line-height: 19px !important;
    }
    .sm {
    overflow: scroll;
    height: fit-content;
    width: max-content;
    }
    .hNav:hover{
        text-transform: none !important;
    }
}
@media only screen and (min-width: 480px) and (max-width:800px) {
    html { 
        font-size: 14px;
    }
    #tdp {
        width:auto;
    }
    #bio {
        font-size: 16px;
    }
    .sm {
        overflow: visible;
    }
}
@media only screen and (min-width: 800px) and (max-width:1280px) {
    html { 
        font-size: 14px;
    }
    #tdp {
        width:auto;
    }
    #bio {
        font-size: 18px;
    }
    .sm {
        overflow: visible;
    }
}
  
/* index -----------------------------------------------------------------------*/
#home-body {
    display: flexbox;
    margin: auto;
    border-bottom: #0a0a0a solid 5px;
    background-color: #0a0a0a;
}
.hd {
    height: 4rem;
    width: 100%;
    background-color:#0a0a0a;
    margin-top: 0%;
    align-content: center;
    text-align: center;
    margin-bottom: 1%;
}
.hNav {
    font-size: 2rem;
    font-family: "Shadows Into Light";
    word-spacing: 30px;
}
#MyroNav {
    font-size: 3rem;
}
#one {
    font-family:Arial, Helvetica, sans-serif
}
#containerH {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 700px;
    margin: 0 0;
    z-index: 0;
    position: relative;
    overflow: hidden;
    border-top: #9808e0 solid;
}
#gify {
    background-image: url(IMG_7636.JPG) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0;
}
#dagger {
    background-image: url(🗡.png);
    background-position: center;
    border-left: #9808e0 solid;
}
#abt {
    color: #EBB217;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    position: absolute;
    height: 100%;
    margin-left: .25%;
    margin-right: 5%;
}
#discMore {
    font-family: 'Shadows into Light';
    
}
#x {
    font-size: 40px;
    float: right;
}
footer {
    height: auto;
    border: #0a0a0a solid;
    margin: auto;
    background-color: #0a0a0a;
    text-align: center;
    border-top: #9808e0 solid;
}
.socials {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    justify-content: center;
}
.sc-lk {
    height: 2.15rem;
    padding-left: 1rem;
}
#newsong {
    width: fit-content;
    height: fit-content;
    border-radius:12px
}
#inq {
    color: #EBB217;
    margin-top: 0;
    margin-bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.hNav:hover {
    text-transform: uppercase;
    font-size: 2rem;
    color: #09bdae;
}
#MyroNav:hover {
    color: #EBB217;
    font-size: 3rem;

}
#bio {
    background-color: #0a0a0a;
    line-height: 30px;
    font-size: 1.5rem;
}
/* index END -------------------------------------------------------------------*/
/* music.html ------------------------------------------------------------------*/
.container-music {
    color: #EBB217;
    font-family: "Shadows Into Light";
    display: flexbox;
    background-image: url(IMG_7046.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: left center;
    background-position-y: top;
    text-shadow: black 2px 5px, #EBB217 2px 2px 10px;
}

#homeNav-D, #showtimeNav-D{
    font-size: 2.5rem;
    text-shadow: black 2px 3px, #EBB217 2px 2px 5px;
}
#homeNav-D:hover, #showtimeNav-D:hover {
    font-size: 2.5rem;
    text-transform: uppercase;
}
 #discHd {
    font-size: 5rem;
    z-index: 2;
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0;
}
.music {
    margin-left: 8%;
    margin-right: 25%;
    z-index: 1;
}
.music h2 {
    font-size: 3.75rem;
    text-decoration: underline;
}
.music h3 {
    font-size: 2.25rem;
}
.music iframe {
 width: fit-content;
 height: 152px;
}
#uparrow {
    height: 8rem;
    float: right;
    position: sticky;
    top: 5px;
    filter: drop-shadow(-5px 2.5px 4px #0a0a0a);
}
#uparrow:hover {
    filter: drop-shadow(-5px 2.5px 4px #09bdae);
}
#uparrow:active {
    filter: drop-shadow(-5px 2.5px 4px #e20303)
}
/* music.html END --------------------------------------------------------------*/
/* showtimes -------------------------------------------------------------------*/
#stBody {
    background-image: url(retro-world-theatre-day-scenes-with-curtains-stage.jpg);
    background-position: center;
    color: #EBB217;
    font-family: "Shadows Into Light";
    font-size: 4rem;
    text-align: center;
    text-shadow: black 2px 5px,  2px 5px 20px;
    /*text-decoration: underline;*/
}
#return-st {
    float: left;
    filter: drop-shadow(5px 2px 5px);
}
#return-st:hover {
    filter: drop-shadow(5px 2px 5px #09bdae);

}
#return-st:active {
    filter: drop-shadow(5px 2px 5px #e20303);
}
/* shotimes END ----------------------------------------------------------------*/
